@model Garage2.Models.Vehicle

@{
    ViewBag.Title = "Detaljerade uppgifter";
}

<h2>Detaljerade uppgifter</h2>

<div>
    <h4>Fordon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehicleType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfWheels)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka till översikten", "Index")
</p>
