@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewBag.Title = "Översikt";
}

<h2>Garage 2.5</h2>
    @if (ViewBag.Parking=="Yes")
    {
        <p id="parkering1">Parkering lyckades</p>
    }


<p>
    @Html.ActionLink("Parkera", "Create" , null,new { @class = "btn btn-primary" })
</p>
<p>
    @using (Html.BeginForm())
    {
    <p>
        RegNumber/ Märke: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <span id="dlist1">  Fordonstyp: @Html.DropDownList("VehicleTypeId", "Alla")</span>
        <input type="submit" value="Sök" />

    </p>
    }

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Fordonstyp", "Index", new { orderby = "Fordonstyp", sortvar = ViewBag.flag, searchString=ViewBag.searchString })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Name)
        </td>
        <td>
            @Html.ActionLink("Redigera", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.Id }) |
            @Html.ActionLink("Kör ut", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
