@model Garage2.Models.ReceiptViewModel

@{
    ViewBag.Title = "Parkeringskvitto";
}

@*<h2 class="text-center" >Kvitto</h2>*@

<div>
    <h3>Parkeringskvitto</h3>
    <h4>Ditt fordon har lämnat garaget, här är ditt kvitto. Välkommen åter!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegNumber):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkTime):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkAt):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkOut):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost) kr
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Tillbaka till översikten", "Index")
        </div>
    }
</div>
