@model IEnumerable<Garage2.Models.StatisticsViewModel>

@{
    ViewBag.Title = "Statistik";
}

<h2>Statistik</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleCount)
        </th>
    </tr>
  
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleCount)
        </td>
    </tr> 
}
   
</table>
<table class="table">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.WheelsTotal)
      </th>
    </tr>
    <tr>
      <td>
        @Model.FirstOrDefault().WheelsTotal
      </td>
    </tr>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.CostTotal)
      </th>
    </tr>
  <tr>
      <td>
        @Model.FirstOrDefault().CostTotal kr
      </td>
    </tr>
</table>
