@model IEnumerable<Garage2.Models.StatisticsViewModel>

@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleCount)
        </th>
        
        @*<th>
            @Html.DisplayNameFor(model => model.WheelsTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostTotal)
        </th>*@
        <th></th>
    </tr>
  
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleCount)
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.WheelsTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostTotal)
        </td>*@

    </tr>

 
}
   
</table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WheelsTotal)
        </th>
  
    </tr>
    <tr>
        <td>
        @Model.FirstOrDefault().WheelsTotal
        </td>
    </tr>

</table>
